{% extends 'base.html' %}

{% block content %}
  <h1>Question{{  }} of {{ question_set.all.count() }}: {{ question }}</h1>
  <form method='POST'>
  {% csrf_token %}
    <ol>
      {% for ans in ques.answer_set.all %}
        <li><label class='btn btn-secondary' for='ans{{ forloop.counter }}'>{{ ans }}</label>
        <input type='radio' name='ans{{ ques }}' id='ans{{ forloop.counter }}' value='{{ ans }}'></li>
      {% endfor %}
    </ol>
    <input type='submit' value='Submit'>
  </form>
  <br><a href='{% url 'results' survey.pk %}'>Results</a>
{% endblock %}