{% extends 'base.html' %}

{% block content %}
  <h1>Answering: {{ survey.title }}</h1>
  <form method='post'>
    {% csrf_token %}
    {{ formset.management_form }}
    {% for question, form in question_forms %}
    <div>
      <div>
        <h4>
          Question {{forloop.counter }}: {{ question.query }}
        </h4>
        {% for field in form %}
        <div>
          {{ field }}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <button type='submit'>Submit</button>
  </form>
{% endblock %}