{% extends 'base.html' %}

{% block content %}
  <h1>{{ survey.title }}</h1>
  <form action='{% url 'results' survey.pk %}' method='POST'>
  {% csrf_token %}
    <ol>
    {% for ques in survey.question_set.all %}
      <li>{{ ques.query }}
      <ol type='a'>
      {% for ans in ques.answer_set.all %}
        <li><input type='radio' name='ans' id='ans{{ forloop.counter }}' value='{{ ques.ans.selection }}'>
        <label for ='ans{{ forloop.counter }}'>{{ ans.selection }}</label></li>
      {% endfor %}
      </li>
      </ol><br>
    {% endfor %}
    </ol>
    <input type='submit' value='Submit'>
  </form>
  <a href='{% url 'results' survey.pk %}'>Results</a>
{% endblock %}