{% extends 'base.html' %}

{% block content %}
  <h1>{{ survey.title }}</h1>
  <form method='POST'>
  {% csrf_token %}
    <ol>
    {% for ques in survey.question_set.all %}
      <li>{{ ques.query }}
        <ol type='a'>
        {% for ans in ques.answer_set.all %}
          <li>{{ ans }}</li>
        {% endfor %}
        </ol>
      </li><br>
    {% endfor %}
    </ol>
  </form>
  <a href='{% url 'submit' survey.pk %}'>Answer Survey</a><br>
  <br><a href='{% url 'results' survey.pk %}'>Results</a>
{% endblock %}